@media only screen and (max-width: 1024px) {
	.header-black ul {
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	.header-black ul, #menu {
		display: none;
	}
	#logotipo {
		left: 34%;
	}
	#btn-bars, #btn-search {
		color: #fff;
		font-size: 22px;
		background: none;
		border: none;
		display: block;
	}
	#btn-search {
		right: 10px;
		margin-top: -24px;
	}
	#banner {
		height: 330px;
		background-size: cover;
		background-position: 0;
	}
	#banner h1 {
		font-size: 30px;
		top: 170px;
		left: -15px;
		color: #fff;
	}
	#news h2, hr {
		margin-left: 80px;
	}
	#news h2 {
		font-size:27px;
	}
	#news hr {
		width: 100px;
		border:#FDE192 solid 3px;
		margin-left: 117px;
	}
	#estatistica {
		height: 580px
	}
	#call-to-action h2, hr {
		margin-left: 20px;
	}
	#call-to-action h2 {
		font-size:20px;
	}
	#call-to-action hr {
		display: none;
	}
	#call-to-action p {
		margin-top: 20px;
	}
	#call-to-action .btn {
		margin-left: 120px;
	}
	footer {
		
	}
}
